
$font-size:0.14rem;
$color1:#666;
$color2:#333;
$color3:#000;
$font-family:"SimSun","Microsoft YaHei";
$input_height:0.44rem;
$input_background:#f8f8f8;

@media only screen and (max-width: 768px) {
  html {
    font-size: 204.8px;
  }
}
@media only screen and (max-width: 414px) {
  html {
    font-size: 110.4px;
  }
}
@media only screen and (max-width: 375px) {
  html {
    font-size:100px;
  }
}
@media only screen and (max-width: 360px) {
  html {
    font-size: 96px;
  }
}
@media only screen and (max-width: 320px) {
  html {
    font-size: 85.333px;
  }
}
.efilmReport_content_20161117{
  margin:0  0.12rem;
  .currentHospital_wrap{
    margin-top:0.2rem;
    .currentHospital_title{
      height: 0.2rem;
      padding-left:0.2rem;
      margin:0.2rem 0 0.09rem 0px;
      font-size: $font-size;
      font-family: $font-family;
      color:$color1;
    }
    .selectHospital{
      width: 100%;
      height: $input_height;
      position: relative;
      input{
        width: 3.4rem;
        height:$input_height;
        padding-left: 0.1rem;
        border:0.5px solid #dedede;
        background-color:$input_background;
        font-size:0.15rem;
        color:$color3;

      }
      i{
        display:block;
        width: 0.18rem;
        height: 0.24rem;
        background:url("../images/location.png");
        background-size: 0.18rem 0.24rem;
        position: absolute;
        top:0.1rem;
        right:0.08rem;
      }
    }
  }
  .patientID{
    width: 100%;
    margin-top: 0.3rem;
    .patientID_title{
      font-size:$font-size;
      color:$color1;
      padding-left:0.2rem;
    }
    input{
      width: 3.4rem;
      //width: 100%;
      height:$input_height;
      border:1px solid #dedede;
      background-color:$input_background;
      font-size:$font-size;
      padding-left: 0.1rem;
      margin-top:0.09rem;
    }
  }
  .get_efilmReport{
    position: relative;
    margin-top:0.36rem;
    height: 0.48rem;
    .getReportBtn{
      width: 2.1rem;
      height: 0.48rem;
      background-color: #18c5d3;
      color:#fff;
      position: absolute;
      left:50%;
      margin-left:-1.05rem;
      border:none 0;
      border-radius:24px;
      font-size:0.18rem; ;
    }
  }


}

.footer{
  width: 3.75rem;
  margin-top:0.30rem;
  .shadow{
    width: 3.75rem;
    height: 0.40rem;
  }
  .bg{
    width: 3.75rem;
    height: 2.59rem;
  }
}